.categories {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    align-items: flex-start;
}

.categories p {
    font-family: 'Helvetica', sans-serif;   
    padding-left: 15px;
    margin: 2px;
    width: 45vh;
    height: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(141, 141, 141);
}

.arrow-icon {
    padding-right: 5px;
    width: 30px;  
    height: auto;
    margin-left: auto; 
}

.submenu {
    padding-left: 20px;
    font-size: 14px;
}
