.Product-card {
  background-color: #d5c3ab96;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
    color: #666;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 1; /* Para que el card en foco esté encima */
  }

  &:hover ~ .Product-card {
    opacity: 0.5;
  }
}

/* Resetea la opacidad cuando el cursor ya no está sobre ningún card */
&:not(:hover) .Product-card {
  opacity: 1;
}